@font-face {
    font-family: GE;
    src: url(../fonts/GE\ SS\ Two/GE_SS_Two_Light.otf);
    }
    @font-face {
    font-family: GEBold;
    src: url(../fonts/GE\ SS\ Two/GE_SS_Two_Bold.otf);
    }
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: GE !important;
}
h2
{
    font-family: GE;
}
h3
{
    font-family: GEBold !important;
}
#myVideo 
{
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}
i.fa.fa-bars:before
{
    position: relative;
    top: 25px;
    color: white;
    font-size: 35px;
    left: 45px;
    z-index: 9999;
}
.header-navigation
{
    height: 85px;
}
.main-nav__main-navigation 
{
    display: none;
}
.main-nav__navigation-box li a
{
    position: relative;
    margin-top: 27px;
    text-align: right;
    font-family: GE !important;
    font-size: 35px;
}
.rectangle
{
    background-color: whitesmoke;
    opacity: 0.5;
    border: 1px;
    border-radius: 45px;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
.logox
{
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
    opacity: 1 !important;
}
.preloader__image
{
    width: 25%;
}
.header_3_images
{
    position: relative;
    z-index: 1;
    top: -155px;
    left: 15%;
}
.leaf-width
{
    width: 70% !important;
}
.project_three_content
{
    position: relative;
    top: -75px;
    background-color: lightgrey;
    border: 1px;
    border-radius: 45px;
    text-align: right;
    width: 75%;
}
.project_three_content h2
{
    color: black;
    font-size: 25px;
    padding: 25px;
}
.project_three_hover_box
{
    background-color: lightgrey;
    border: 1px;
    border-radius: 45px;
    text-align: right;
    width: 75%;
}
.project_three_hover_box p
{
    color: black;
    font-size: 25px;
    padding: 25px;
}